@{
    ViewData["Title"] = "Home Page";
}

<!--Crear el fondo con efecto de la pagina-->
<div class="contenedor_fondo">
    <div class="space space-1"></div>
    <div class="space space-2"></div>
    <div class="space space-3"></div>
</div>

<div class="parent">
    <div class="div1">
        <img id ="imagen_perfil" src="https://raw.githubusercontent.com/AlanMonroy/IMAGENES/main/perfil.jfif">
    </div>
    <div class="div2 contenedor_centrado_estilo">
        <span class="text1">Ingeniero Administrador de Sitemas. Desarrollador fullstack creando software especializado; enfoque en automatizacion de procesos y manejo de bases de datos.</span>
    </div>
    <!--<div class="div3 contenedor_centrado_estilo">3</div>-->
</div>
    
<!--LINEA DEL TIEMPO-->
<div id="linea_tiempo1" class="contenedor_centrado"></div>

<div class="contenedor_centrado">
    <div id="text-split" class="large centered grid square-grid">
        <p class="text-xl">
            Redes sociales<br>
            <!--テキストスプリッター-->
        </p>
    </div>
</div>

<!--REDES-->
<div class="contenedor_enlaces">
    <div class="contenedor-imagen">
        <div class="box">
            <img class="imagen-circular" src="https://raw.githubusercontent.com/AlanMonroy/IMAGENES/main/github2.png" alt="Acceso GitHub">
            <div class="overlay">
                <a class="a-design" href="https://github.com/AlanMonroy" target="_blank">GitHub</a>
            </div>
        </div>
    </div>

    <div class="contenedor-imagen">
        <div class="box">
            <img class="imagen-circular" src="https://raw.githubusercontent.com/AlanMonroy/IMAGENES/main/linkedin.png" alt="Acceso LinkedIn">
            <div class="overlay">
                <a class="a-design" href="https://www.linkedin.com/in/roberto-alan-rodriguez-monroy-6a3720255" target="_blank">LinkedIn</a>
            </div>
        </div>
    </div>

    <div class="contenedor-imagen">
        <div class="box">
            <img class="imagen-circular" src="https://raw.githubusercontent.com/AlanMonroy/IMAGENES/main/codepen.png" alt="Acceso CODEPEN">
            <div class="overlay">
                <a class="a-design" href="https://codepen.io/Alan-Monroy" target="_blank">CODEPEN</a>
            </div>
        </div>
    </div>
</div>

<!--<div id="box" style="width:100px;height:100px;background:red;"></div>-->

<div id="docs-demos">
    <div class="docs-demo is-active">
    
        <div class="docs-demo-html">
            <div class="large centered row">
                <div class="col">
                    <div class="square"></div>
                </div>
            </div>
            <div class="small centered row">
                <span class="label">Move cursor around</span>
            </div>
        </div>

    </div>
</div>

