@{
    ViewData["Title"] = "Home Page";
}

<div class="contenedor_fondo">
    <div class="space space-1"></div>
    <div class="space space-2"></div>
    <div class="space space-3"></div>
</div>
<div>
    <span>hola</span>
</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
