@{
    ViewData["Title"] = "Home Page";
}
@section Scripts {
    <script type="module" src="~/js/main.js"></script>
    <script type="module" src="~/js/index.js"></script>
}

<script>
    const urlProyectos = '@Url.Action("Proyectos", "Home")';
</script>

<!--Crear el fondo con efecto de la pagina-->
<div class="contenedor_fondo">
    <div class="space space-1"></div>
    <div class="space space-2"></div>
    <div class="space space-3"></div>
</div>

<div class="parent">
    <div class="div1 contenedor_centrado">
        <img id ="imagen_perfil" src="https://raw.githubusercontent.com/AlanMonroy/IMAGENES/main/perfil.jfif">
    </div>
    <div class="div2 contenedor_centrado_estilo slide-container">
        <span class="text1">Roberto Alan Rodriguez Monroy</span>
        <span id="texto_largo" class="text1 slide-text">
            Ingeniero Administrador de Sitemas. Desarrollador fullstack creando software especializado; enfoque en automatizacion de procesos y analisis de datos.
            <br />Mi dia a dia consiste en la creacion de nuevas funcionalidades especificas para los clientes, empezando por reuniones de entendimiento con el cliente, desarrollo de procedimientos, pruebas y retroalimentacion con el cliente.
            Creacion de reportes que muestran dinamicamente la informacion extraida y validada de documentos que se usan en toda gestion de una empresa como validaciones REPSE.
            Creacion de API's para que nuestros clientes puedan consumir la misma informacion de los reportes de forma rapida o para creacion de diferentes objetos relacionados a la gestion.
            Correciones de errores y automatizacion del calculo de la informacion para mejorar tiempos de respuesta.
            <br />Gestion de control de accesos para controlar el acceso a proveedores de acuerdo al cumplimiento de entrega de documentacion a la empresa.
        </span>
        <span class="hint">Click para ver más ↓</span>
    </div>
    <div class="div3 contenedor_estilo">
        <div class="info">
            <div class="item text1">Correo: alanmonroyzz99@gmail.com</div>
            <div class="item text1">Tel: 8111901788</div>
            <div class="item text1">Residencia: Guadalupe, Nuevo León</div>
            <div class="item text1">Nacimiento: 09/02/1999</div>
        </div>
        <a class="boton_estilo" href="https://raw.githubusercontent.com/AlanMonroy/IMAGENES/main/cv.pdf">Descargar CV</a>
    </div>
    <!--<div class="div3 contenedor_centrado_estilo">3</div>-->
</div>

<div class="div4 contenedor_estilo" 
    style="display: flex;justify-content: space-around; align-content: center;flex-wrap: wrap; gap: 20px;
    margin: 1% 2%;overflow: hidden;border-radius: 20px">
    <div class="contenedor_centrado">
        <span class="text1">
            <b>Carrera:</b> Ingeniero Administrador de Sistemas,
            Egresado - UANL FIME 2016 - 2022
        </span>
    </div>
    <button class="boton_estilo boton_posicion_1" onclick="mostrarImagen()">Ver titulo</button>
</div>

<div id="modal1" class="modal">
    <img src="https://raw.githubusercontent.com/AlanMonroy/IMAGENES/main/titulo.jpg" />
</div>

<div id="modal" class="modal">
    <img id="modal-img" style="width: 80%;height: 80%;border-radius: 10px;" />
    <iframe id="modal-pdf" style="width: 80%;height: 80%;border-radius: 10px;"></iframe>
</div>
    
<!--LINEA DEL TIEMPO-->
<div id="linea_tiempo1" class="contenedor_centrado"></div>

<!--PROYECTOS-->
<div class="contenedor_centrado">
    <span class="text1">Proyectos</span>
</div>
<div id="proyectos1" class="contenedor_centrado" style="padding:0px;"></div>

<!--SECCION REDES-->
<div class="contenedor_centrado">
    <span class="text1">Redes sociales</span>
</div>

<!--REDES-->
<div class="contenedor_enlaces">
    <div class="contenedor-imagen">
        <div class="box">
            <img class="imagen-circular" src="https://raw.githubusercontent.com/AlanMonroy/IMAGENES/main/github2.png" alt="Acceso GitHub">
            <div class="overlay">
                <a class="a-design" href="https://github.com/AlanMonroy" target="_blank">GitHub</a>
            </div>
        </div>
    </div>

    <div class="contenedor-imagen">
        <div class="box">
            <img class="imagen-circular" src="https://raw.githubusercontent.com/AlanMonroy/IMAGENES/main/linkedin.png" alt="Acceso LinkedIn">
            <div class="overlay">
                <a class="a-design" href="https://www.linkedin.com/in/roberto-alan-rodriguez-monroy-6a3720255" target="_blank">LinkedIn</a>
            </div>
        </div>
    </div>

    <div class="contenedor-imagen">
        <div class="box">
            <img class="imagen-circular" src="https://raw.githubusercontent.com/AlanMonroy/IMAGENES/main/codepen.png" alt="Acceso CODEPEN">
            <div class="overlay">
                <a class="a-design" href="https://codepen.io/Alan-Monroy" target="_blank">CODEPEN</a>
            </div>
        </div>
    </div>
</div>

<!--CONOCIMIENTOS-->

<div class="contenedor_centrado">
    <span class="text1">Certificaciones y diplomas</span>
</div>

<div id="certificaciones1">
</div>

<!--HABILIDADES-->
<div class="contenedor_centrado">
    <span class="text1">Habilidades</span>
</div>

<div id="habilidades1" class="contenedor_centrado" style="padding:0px;"></div>

<!--<div id="box" style="width:100px;height:100px;background:red;"></div>-->

<!--<div class="contenedor_centrado">
    <div id="text-split" class="large centered grid square-grid">
        <p class="text-xl">
            Redes sociales<br>
        </p>
    </div>
</div>-->

<!--<div id="docs-demos">
    <div class="docs-demo is-active">
    
        <div class="docs-demo-html">
            <div class="large centered row">
                <div class="col">
                    <div class="square"></div>
                </div>
            </div>
            <div class="small centered row">
                <span class="label">Move cursor around</span>
            </div>
        </div>
    </div>
</div>-->

