@model ProyectosViewModel
@using System.Text.Json
@if (Model == null)
{
    <h2>Proyecto no encontrado</h2>
    return;
}
@{
    ViewData["Title"] = "Proyectos";
}
@section Scripts {
    <script type="module" src="~/js/main.js"></script>
    <script type="module" src="~/js/proyectos.js"></script>
}

<!--Crear el fondo con efecto de la pagina-->
<div class="contenedor_fondo">
    <div class="space space-1"></div>
    <div class="space space-2"></div>
    <div class="space space-3"></div>
</div>

<div class="contenedor_centrado">
    <h1 class="text1">@Model.nombre</h1>
</div>
<div class="contenedor_centrado_estilo">
    <h1 class="text1">@Model.descripcion</h1>
</div>

<div id="imagenes_proyecto" data-imagenes='@Html.Raw(JsonSerializer.Serialize(Model.imagenes))'></div>

<div id="video_proyecto" class="video-container" data-video='@Html.Raw(JsonSerializer.Serialize(Model.video))'></div>
