@{
    ViewData["Title"] = "Proyectos";
}
@section Scripts {
    <script type="module" src="~/js/main.js"></script>
    <script type="module" src="~/js/index.js"></script>
}

<!--Crear el fondo con efecto de la pagina-->
<div class="contenedor_fondo">
    <div class="space space-1"></div>
    <div class="space space-2"></div>
    <div class="space space-3"></div>
</div>

<h1>Proyectos</h1>

<div class="layout">
    
    <aside class="sidebar">
        <img id="imagen_perfil" src="https://raw.githubusercontent.com/AlanMonroy/IMAGENES/main/perfil.jfif">

        <h2 class="nombre">Roberto Alan Rodriguez Monroy</h2>
        <p class="rol">Fullstack Developer</p>

        <div class="info">
            <span>📧 alanmonroyzz99@gmail.com</span>
            <span>📱 8111901788</span>
            <span>📍 Guadalupe, Nuevo León</span>
            <span>🎂 09/02/1999</span>
        </div>

        <a class="btn" href="https://raw.githubusercontent.com/AlanMonroy/IMAGENES/main/cv.pdf">
            Descargar CV
        </a>
    </aside>

    <main class="contenido">
        <h1>Sobre mí</h1>

        <p>
            Ingeniero Administrador de Sistemas y desarrollador fullstack enfocado en automatización de procesos y análisis de datos.
        </p>

        <p>
            Mi día a día consiste en entender necesidades del cliente, desarrollar soluciones, validar información y optimizar procesos empresariales mediante software.
        </p>

        <p>
            Experiencia en creación de APIs, validación de documentos, automatización de cálculos y generación de reportes dinámicos.
        </p>
    </main>

</div>

<script>
    console.log("script directo en vista");

    document.addEventListener("DOMContentLoaded", function () {
        console.log("DOM listo en vista");
    });
</script>